<p>Please Upload The file in order to calculate emissions</p>
<form>
  <div class="row">
    <div class="col-md-3">
      <label> Upload File <span class="text-danger">*</span> </label>
      <small class="help-text">Supported File Type: CSV</small>
    </div>
    <div class="col-md-3">
      <div
        class="file-wrap"
        *ngIf="!userInputForm.controls['uploadedFile'].value"
      >
        <button type="button" (click)="fileInput.click()" class="btn btn-primary">
          Upload File
        </button>
        <!--File input, invisible, but the reference can be attached to any onther html element-->
        <input
          id="input-file"
          type="file"
          (change)="handleFileInput($event)"
          accept=".csv"
          #fileInput
          hidden
        />
      </div>
      <div
        class="uploaded-files"
        *ngIf="userInputForm.controls['uploadedFile'].value"
      >
        <p>
          {{ userInputForm.controls["uploadedFile"].value.name }}
          <span><button type="button" class="btn btn-danger" (click)="onFileDeleteBtnClick()">Delete</button></span>
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <button
        type="button"
        class="btn btn-success"
        (click)="onSubmitBtnClick()"
      >
        Submit
      </button>
    </div>
  </div>
</form>
